table {
  width: 100%;
}
/* displayedColumns: string[] = ['id', 'firstName', 'lastName', 'email','action']; */
.mat-column-action {
  width: 10% !important;
  padding: 0 2px !important;
  text-align: center !important;

}
.mat-column-id {
  width: 1% !important;
  padding: 0 2px !important;
}
.mat-column-firstName {
  width: 5% !important;
  padding: 0 2px !important;
  text-align: center !important;
}
.mat-column-lastName {
  width: 5% !important;
  padding: 0 2px !important;
  text-align: center !important;
}
.mat-column-email {
  width: 5% !important;
  padding: 0 2px !important;
  text-align: center !important;
}
.center-text {
  text-align: center !important;
}

::ng-deep .mat-sort-header-container {
  display: flex !important;
  justify-content: center !important;
}
.addBtn{

    float: right;
    margin: 2%;


}
