<div class="addBtn">
  <button mat-raised-button color="primary" (click)="addUser()">ADD user</button>
</div>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">




  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>


  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> lastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>
 <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let obj">
      <span>
        <button mat-icon-button (click)="opendelete(obj)">
          <mat-icon style="color: red">delete_outline</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button (click)="openEdit(obj)">
          <mat-icon style="color: #28a745">brush</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button (click)="opendetails(obj)">
          <mat-icon style="color: rgb(75, 140, 238)">info</mat-icon>
        </button>
      </span>
    </td>

    <td></td
  ></ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


