<div class="header">
  <h2 mat-dialog-title>User  Information</h2>
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon style="color: red">close</mat-icon>
  </button>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-nowrap mb-0">
      <tbody>
        <tr>
          <th scope="row">First Name :</th>
          <td>{{obj.firstName}}</td>
        </tr>
        <tr>
          <th scope="row">Last Name :</th>
          <td>{{obj.lastName}}</td>
        </tr>
        <tr>
          <th scope="row">Email :</th>
          <td>{{obj.email}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

