<mat-dialog-content>


  <div class="container-fluid">
    <form [formGroup]="form">

      <h3 mat-dialog-title>Add  User </h3>


      <div class="row">


        <div fxFlex="25" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label> First Name </mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>
        </div>
        <div fxFlex="25" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label> lastName </mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </div>
        <div fxFlex="25" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label> Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

        </div>
      </div>
      <mat-dialog-actions align="end">
        <button
          color="primary"
          (click)="add()"
          mat-flat-button
          type="submit"
        >
          <mat-icon>search</mat-icon>
          <span>validate</span>
        </button>



        <button
          mat-flat-button
          mat-dialog-close
          color="primary"
          style="margin: 5px"
        >
          Cancel
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-dialog-content>
